{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": 1,
        "curly": 1,
        "eqeqeq": 1,
        "no-console": 0,
        "object-curly-spacing": 1
    }
}
